h1 {
    background-color: black; color:antiquewhite; font-size: 26px;
}

h2 {
    background-color:darkcyan; color: black; font-size: 18px;
}

h18 {
    background-color: black; color:white; 

}

h7 {
    background-color: antiquewhite   ; color:crimson; 

}